<!-- // Student ID: 301225269
// Name: Arvin Almario
// Data: Oct 28, 2022 -->

<!-- partial ejs file for reuse -->
        <footer>
            <div class="footer">
                <p>&copy All rights reserved | Created by: Arvin Almario | using bootstrap 5</p>
            </div>
        </footer>
        <script>
            var getTitle = "<%= title %>";
        </script>
        <script src="/javascripts/appclient.js"></script>

    </body>
    
</html>