        </main>
        <footer>
            <div class="footer">
                <p>&copy All rights reserved | Created by: Arvin Almario | using bootstrap 5</p>
            </div>
        </footer>

    </body>
</html>