<!-- Student ID: 301225269
Name: Arvin Almario
Data: Oct 03, 2022 -->

<% include partials/header.ejs %>

<div class="container mt-3">
  <h2><%= title %>!</h2>
  <div class="homepage">
    <h1>My Mission:</h1> 
    <p><%= mission %></p> 
  </div>
</div>

<% include partials/footer.ejs %>