<!-- Student ID: 301225269
Name: Arvin Almario
Data: Oct 03, 2022 -->

<% include partials/header.ejs %>

//using jumbotron like in service ejs, get the js file from routes
<div class="container mt-3">
  <h2></h2>
  <div class="mt-4 p-5 bg-dark text-white rounded">
    <h1>Mission</h1> 
    <p><%= mission %></p> 
  </div>
</div>

<div class="container mt-3">
  <h2></h2>
  <div class="mt-4 p-5 bg-dark text-white rounded">
    <h1>Vision</h1> 
    <p><%= vision %></p> 
  </div>
</div>

<div class="container mt-3">
  <h2></h2>
  <div class="mt-4 p-5 bg-dark text-white rounded">
    <h1>Core Values</h1> 
    <ul>
      <li>Put clients first</li>
      <li>Approach every day with curiosity</li>
      <li>Embrace an ownership mentality</li>
      <li>Act with integrity</li>
    </ul>
  </div>
</div>

<% include partials/footer.ejs %>