<% include partials/header.ejs %>

<!-- jumbotron with table and form using bootstrap 5 -->
<div class="container py-4">    
    <div class="p-5 mb-4 bg-dark text-white rounded-3">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/images/logo.PNG"
                    class="img-fluid" >
                </div>
                <div class="col-md-8 col-lg-6 offset-xl-1">
                <form>
                    <div class="form-outline mb-8">
                        <input type="email" id="signUpUsername" class="form-control form-control-lg"
                            placeholder="Enter user name" />
                        <label class="form-label" for="signUpUsername">User Name</label>
                    </div>

                    <div class="form-outline mb-8">
                    <input type="password" id="signUpPassword" class="form-control form-control-lg"
                        placeholder="Enter password" />
                    <label class="form-label" for="signUpPassword">Password</label>
                    </div>

                    <div class="form-outline mb-8">
                        <input type="email" id="signUpName" class="form-control form-control-lg"
                            placeholder="Enter name" />
                        <label class="form-label" for="signUpName">Name</label>
                    </div>

                    <div class="form-outline mb-8">
                    <input type="email" id="signUpEmail" class="form-control form-control-lg"
                        placeholder="Enter Email address" />
                    <label class="form-label" for="signUpEmail">Email address</label>
                    </div>

                    <div class="text-center text-lg-start mt-2 pt-2">
                    <button type="button" class="btn btn-secondary">Sign Up</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
    


<% include partials/footer.ejs %>