html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #8f816e;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* set the fixed height of the footer here */
  height: 60px;
  background-color: #8d6a35;
}

.homepage {
  font-family: 'Lucida Console", "Courier New", monospace';
  font-style: italic;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  } 

