html {
  position: relative;
  min-height: 100%;
  font-style: italic;
}

body {
  margin-bottom: 60px;
  background-color: rgb(66, 65, 65);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
  background-color: rgb(66, 65, 65);
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  } 

.projectsHeader {
  text-align: center;
  color: white;
}


  

